<!DOCTYPE html>
<html lang="en">

<header>
    <h2>Submit</h2>
</header>

<body>

    <form method="post">
        <label for="message">Your message:</label>
        <br>
        <input name="message" id="message" required>
        <br>
        <label for="name">Your name or handle:</label>
        <br>
        <input name="name" id="name" required>
        <br>
        <input type="submit" value="Submit form">
        <input type="reset" value="Reset">
    </form>

</body>

{% if name %}
    <br>
    <b>Hello {{name}}! </b>
    <br>
    <i>Your message was:</i> {{message}}
    <br>
    <br>
    Click <a href="/view/">here</a> to see existing messages!
    <br>
    Click <a href="/submit/">here</a> to submit another form!
{% endif %}


